{% extends "base.html" %}
{% block title %}Check out our {{flavor}}-based recipes!{% endblock %}
{% block content %}
{% if recipestuff|length != 0 %}
    <p>Check out our {{flavor}}-based recipes!</p>
    <table>
    <tr><th>Recipe</th><th>Cartons ordered</th></tr>
    {% for recipe in recipestuff %}
        <tr><td><a href="{{url_for('recipedetails',recipe=recipe[0])}}">{{recipe[0]}}</a></td><td>{{recipe[1]}}</td></tr>
    {% endfor %}
    </table>
{% else %}
    <p>Sorry, we've never heard of "{{flavor}}" ice cream!</p>
{% endif %}
{% endblock %}
