<html>
<head>
    <title></title>
</head>
<body>
<h1>Welcome to the page for {{recipename}}!</h1>
<p>Our award-winning {{recipename}} starts with luscious <b>{{flavor}}</b> ice cream, and
adds the following mixins:</p>

<ul>
{% for mixin in mixins %}<li>{{mixin[0]}}</li>
{% endfor %}</ul>

<form method="get">
How many cartons of {{recipename}} would you like today?
<input type=hidden name=recipe value={{recipename}} />
<input type=text name=quantity size=1 />
<input type=submit value="Yumm! Send soon please!" />
</form>
</body>
</html>
